@model IEnumerable<LandisWebApp.Models.Meter>

<h1>Meters List</h1>

<p><a asp-action="Create">Create New</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTrafo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Landis" asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.IdCp)
                    </a>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTrafo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>